*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    /* overflow: hidden; */

    padding: 1px;
}

footer{
    min-height: 300px;
    background-color: whitesmoke;


    margin-top: 300px;
}

.footer-items{
    min-height: 300px;
    width: 90%;
    background-color: aqua;

    margin: 0px auto;

    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}


.footer-items .colum{
    height: 300px;
    width: 200px;
    background-color: crimson;

    border: 1px solid white;

    flex-shrink: 0;
}