*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    /* background-color: aquamarine; */
    /* background-color: blue; */
    
}

header nav{
    /* background-color: crimson; */
    width: 90%;
    margin: 0px auto;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 15px 20px;
    height: 80px;
}

.logo-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo-box img{
    height: 40px;
    width: 40px;
}

nav ul{
    display: flex;
    gap: 20px;

    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #e7550c;
}


nav .nav-button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #e7550c;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.hero-section{
    display: flex;
    /* background-color: aquamarine; */
    min-height: calc(100vh - 80px)


}

.hero-section .left,.hero-section .right{
    width: 50%;
    /* border: 1px solid black; */
}

.hero-section .left{
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

    padding: 0px 100px;
    gap: 25px;

}
.hero-section .left h2{
    font-size: 50px;
    text-align: left;
    max-width: 500px;
    /* background-color: blue; */
}

.hero-section .left h2 span{
    color: #e7550c;
}
.hero-section .left p{
    max-width: 500px;
    text-align: left;
}
.hero-section .left button{
    width: fit-content;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #e7550c;
    color: white;
    font-size: 16px;
}


/* this is the right part of the hero section */
.hero-section .right img{
    height: 600px;
    width: 700px;
    object-fit: cover;
}


/* from here we are going to start services section*/

.services{
    min-height: 100vh;
    /* background-color:rgba(128, 128, 128, 0.425); */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.services h2{
    font-size: 50px;
}

.services h2 span{
    color: #e7550c;
}

.services p{
    max-width: 500px;
    text-align: center;
    color: rgba(0, 0, 0, 0.614);
    font-size: 20px;
}

.services .boxes{
    display: flex;
    gap: 40px;
    padding: 20px 0px;
}

.services .boxes .box{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

/* from here we are going to code for the contact us section */

.contact-us{
    min-height: 100vh;
    background-color: #fbece6;

    display: flex;
    
    
}

.contact-us .left,.contact-us .right{
    width: 50%;
}

.contact-us .left{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-us .left img{
    height: 500px;
    width: 500px;
    object-fit: cover;
}


.contact-us .right{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.contact-us .right h2{
    font-size: 45px;
    padding: 10px 0px;
}
.contact-us .right .para{
    font-size: 20px;
    max-width: 500px;
    color: rgba(0, 0, 0, 0.614);
    padding: 10px 0px;
}

.contact-us .right .contact{
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right .contact h3{
    font-size: 30px;
}
.contact-us .right button:nth-child(1){
    width: fit-content;
    padding: 10px 40px;
    border-radius: 10px;
    border: none;
    background-color: #e7550c;
    color: white;
    font-size: 16px;
}

.contact-us .right .buttons{
    display: flex;
    gap: 20px;
}
.contact-us .right button:nth-child(2){
    width: fit-content;
    padding: 8px 40px;
    border-radius: 10px;
    border: none;
    border: 3px solid #e7550c;
    background-color: transparent;
    color:#e7550c;
    font-size: 16px;
}